/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian:wght@100..900&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Work Sans", sans-serif;
  background-color: #f7f7f7;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  cursor: pointer;
}

header {
  max-width: 100%;
  background-color: #fff2f5;
}
header .header-container {
  width: 100%;
  padding: 28px 140px 18px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
header .header-container .logo a {
  all: unset;
  font-size: 35px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  letter-spacing: 1.75px;
  color: #000;
}
@media only screen and (max-width: 1020px) {
  header .header-container .logo a {
    font-size: 25px;
  }
}
header .header-container ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media only screen and (max-width: 1020px) {
  header .header-container ul {
    display: none;
  }
}
header .header-container ul li {
  margin-right: 54px;
}
header .header-container ul li:last-child {
  margin: 0;
}
header .header-container ul li a {
  all: unset;
  font-size: 20px;
  font-family: "Noto Sans Georgian", sans-serif;
  font-weight: normal;
  color: #000;
}
header .header-container ul li .faq {
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
}
header .header-container .burger-menu {
  width: 20px;
  height: 16px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  display: none;
}
@media (max-width: 1020px) {
  header .header-container .burger-menu {
    display: flex;
  }
}
header .header-container .burger-menu .line {
  width: 100%;
  height: 2.5px;
  border-radius: 2px;
  background-color: #000;
}

.about-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff2f5;
}
.about-section .img-container {
  max-width: 100%;
  max-height: 693px;
}
.about-section .img-container img {
  width: 100%;
  height: 100%;
}
.about-section .about-content {
  padding: 110px 0 113px;
}
.about-section .about-content .rigth-line {
  max-width: 100%;
  height: 1px;
  background-color: #000;
  margin-left: 17%;
  margin-bottom: 112px;
}
.about-section .about-content .info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 17%;
}
.about-section .about-content .info-container h1 {
  margin-bottom: 56px;
  font-size: 40px;
  font-family: "Noto Sans Georgian", sans-serif;
  font-weight: normal;
  text-align: center;
  color: #000;
}
.about-section .about-content .info-container p {
  margin-bottom: 28px;
  font-size: 16px;
  font-family: "Noto Sans Georgian", sans-serif;
  font-weight: normal;
  line-height: 1.5;
  text-align: center;
  color: #000;
}
.about-section .about-content .info-container span {
  margin-bottom: 58px;
  font-size: 16px;
  font-family: "Noto Sans Georgian", sans-serif;
  font-weight: bold;
  text-align: center;
  color: #000;
}
.about-section .about-content .info-container button {
  background-color: transparent;
  color: #000;
  padding: 13px 50px 12px 51px;
  border-radius: 0;
  font-size: 16px;
  font-weight: normal;
  border: solid 1px #000;
  cursor: pointer;
}
.about-section .about-content .left-line {
  max-width: 1055px;
  height: 1px;
  background-color: #000;
  margin-right: 17%;
  margin-top: 139px;
}

.second-section {
  max-width: 100%;
  padding: 114px 11% 140px;
  background-color: #fff;
}
.second-section .title-wrapper {
  width: 100%;
  padding: 0 17%;
  margin-bottom: 56px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.second-section .title-wrapper p {
  font-size: 35px;
  font-family: "Noto Sans Georgian", sans-serif;
  font-weight: normal;
  color: #000;
}
.second-section .info-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.second-section .info-wrapper p {
  font-size: 16px;
  font-family: "Noto Sans Georgian", sans-serif;
  font-weight: normal;
  text-align: center;
  color: #000;
}
.second-section .info-wrapper .horizontal-line {
  width: 100%;
  height: 1px;
  margin: 27px 0 28px;
  background-color: #000;
}
.second-section .info-wrapper .one {
  grid-area: 2/1/2/3;
}
.second-section .info-wrapper .two {
  grid-area: 4/1/4/3;
}
.second-section .info-wrapper .three {
  grid-area: 6/1/6/3;
}
.second-section .info-wrapper .four {
  grid-area: 8/1/8/3;
}

.mentor-section {
  max-width: 100%;
  background-color: #fff2f5;
  padding: 119px 18% 89px 11%;
}
.mentor-section .mentor-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.mentor-section .mentor-content .mentor-info {
  margin-right: 103px;
  display: flex;
  flex-direction: column;
}
.mentor-section .mentor-content .mentor-info h3 {
  margin-bottom: 56px;
  font-size: 35px;
  font-family: "Noto Sans Georgian", sans-serif;
  font-weight: normal;
  color: #000;
}
.mentor-section .mentor-content .mentor-info h3 span {
  font-size: 50px;
}
.mentor-section .mentor-content .mentor-info span {
  margin-bottom: 28px;
  font-size: 24px;
  font-family: "Noto Sans Georgian", sans-serif;
  font-weight: bold;
  color: #000;
}
.mentor-section .mentor-content .mentor-info p {
  margin-bottom: 56px;
  font-size: 16px;
  font-family: "Noto Sans Georgian", sans-serif;
  font-weight: normal;
  line-height: 1.5;
  color: #000;
}
.mentor-section .mentor-content .mentor-info button {
  width: 190px;
  margin: 0 auto;
  background-color: transparent;
  color: #000;
  padding: 13px 50px 12px 51px;
  border-radius: 0;
  font-size: 16px;
  font-weight: normal;
  border: solid 1px #000;
  cursor: pointer;
  white-space: nowrap;
}
.mentor-section .mentor-content img {
  width: 314px;
  height: 307px;
}

.fourth-section {
  max-width: 100%;
  padding: 114px 11% 139px;
  background-color: #fff;
}
.fourth-section .fourth-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fourth-section .fourth-content h3 {
  margin-bottom: 114px;
  font-size: 35px;
  font-family: "Noto Sans Georgian", sans-serif;
  font-weight: normal;
  color: #000;
}
.fourth-section .fourth-content .content-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media only screen and (max-width: 1020px) {
  .fourth-section .fourth-content .content-wrapper {
    flex-direction: column;
  }
}
.fourth-section .fourth-content .content-wrapper .box {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fff2f5;
}
.fourth-section .fourth-content .content-wrapper .box .rect-pic {
  width: 288px;
  height: 356px;
  margin: 0 26px 0 0;
}
.fourth-section .fourth-content .content-wrapper .box .round-pic {
  width: 59px;
  height: 59px;
  margin: 269px 33px 28px 38px;
}
.fourth-section .fourth-content .content-wrapper .box .box-content {
  display: flex;
  flex-direction: column;
  padding: 0 25px 0 0;
}
.fourth-section .fourth-content .content-wrapper .box .box-content p {
  margin-bottom: 48px;
  font-size: 14px;
  font-family: "Noto Sans Georgian", sans-serif;
  font-weight: normal;
  line-height: 1.5;
  color: #000;
}
.fourth-section .fourth-content .content-wrapper .box .box-content .name-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.fourth-section .fourth-content .content-wrapper .box .box-content .name-container h4 {
  margin-bottom: 10px;
  font-size: 14px;
  font-family: "Noto Sans Georgian", sans-serif;
  font-weight: normal;
  color: #000;
}
.fourth-section .fourth-content .content-wrapper .box .box-content .name-container span {
  font-size: 14px;
  font-family: "Noto Sans Georgian", sans-serif;
  font-weight: normal;
  line-height: 1.5;
  color: #000;
}
.fourth-section .fourth-content .content-wrapper .first {
  width: 577px;
  margin-right: 18px;
}
@media only screen and (max-width: 1020px) {
  .fourth-section .fourth-content .content-wrapper .first {
    width: 100%;
    margin: 0 0 20px;
  }
}
.fourth-section .fourth-content .content-wrapper .second {
  width: 405px;
}
@media only screen and (max-width: 1020px) {
  .fourth-section .fourth-content .content-wrapper .second {
    width: 100%;
  }
}/*# sourceMappingURL=global.css.map */