
//fonts

$roboto:"Roboto", sans-serif;
$mrgvlovani: "Noto Sans Georgian", sans-serif;
$mkhedruli: "Noto Sans Georgian", sans-serif;
$sourcesans: "Source Sans 3", sans-serif;


//colors

$header-bg-color:#fff2f5;
$text-color:#000;